---
import SimpleLink from "../components/SimpleLink";
import '../styles/global.css';
import '../styles/home.css';
import YoutubeData from "../../../data/ytube/investing/yt_data.json"

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Youtube Data';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

// reverse order of YoutubeData array
const reversed = YoutubeData.reverse();
const subsetData = reversed.slice(0, 5000);
const columnsForTable = subsetData.map(video => {
    const currDate = new Date(video.date)
    const currYear = currDate.getFullYear()
    return {
        name: video.title,
        url: `https://www.youtube.com/watch?v=${video.video_id}`,
        date: video.date,
        channel: video.channel_id,
        publisher: video.source,
        video_path: `/ytube/${video.source}/${currYear}/${video.video_id}`,
    }
})

// sort by date
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style is:global>
		pre {
			padding: 1rem;
		}
	</style>
</head>
<body>
	<main>
	<table class="uk-table">
    <caption>Data Table for rss feeds</caption>
    <thead>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Date</th>
            <th>Publisher</th>
            <th>Video Path</th>
        </tr>
    </thead>
    <tbody>
        {columnsForTable.map((column) => {
            return (
                <tr>
                    <td>{column.name}</td>
                    <td><SimpleLink href={column.url} text={column.url} /></td>
                    <td>{column.date}</td>
                    <td><SimpleLink href={`/media_nlp/ytube/${column.publisher}`} text={column.publisher} /></td>
                    <td><SimpleLink href={`/media_nlp/${column.video_path}`} text={column.video_path} /></td>
                </tr>
            )
        })} 
    </tbody>
</table>
	</main>
</body>
</html>
